.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}


input{
  margin: 20px;
}

.login{
  border: 1px solid black;
  width: 450px;
  height: 300px;
  
}

.nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: gainsboro;
}

ul{
  margin-left: 260px;
  display: flex;
  list-style: none;
  gap: 20px;
}









