.inputContainer {
	width: 300px;
	height: 40px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	display: flex;
	align-items: center;
}
.inputContainer > input {
	padding-left: 5px;
	outline: none;
	border-radius: inherit;
	width: 90%;
	height: 90%;
}
.inputContainer > input,
.inputContainer > button {
	border: 0;
}
.inputContainer > button {
	width: 25px;
	height: 25px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #333;
	color: #fff;
}
