.TodoItem {
	width: 96%;
	display: flex;
	height: 40px;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
	background-color: gray;
	border-radius: 6px;
	/* margin: 0 30px; */
	/* padding: 0 60px; */
}
.firstHalf {
	padding-left: 10px;
	/* background-color: aquamarine; */
	width: 70%;
	display: flex;
	align-items: center;
	color: #fff;
}
.firstHalf > p {
	padding-left: 10px;
}
.secondHalf {
	width: 30%;
	display: flex;
	justify-content: space-around;
}
.secondHalf > button {
	cursor: pointer;
	border: 0;
	background-color: inherit;
}
